@font-face {
    font-family: "Nintendo";
    src: url(Fonts/MuseoSans_700.ttf);
}

*{
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-family: "Nintendo";
    font-size: large;
    color: rgb(72, 72, 72);
    line-height: 1.4;
}

.OnlineStore {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.NintendoStore {
    width: 1144px;
    max-width: 95%;
}

.SectionHeader {
    margin: 0;
    width: fit-content;
}

.NintendoStoreResponsiveImage {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 36px;
    border-radius: 8px;
}

.MyNintendoStoreImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.MyNintendoStoreImageMobile {
    display: none;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.OnlineStoreDescription {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OnlineStoreDescriptionText, .GamingSystemsDescriptionText {
    max-width: 940px;
    margin-right: 36px;
    font-size: 21px;
    font-weight: 700;
    line-height: 29.4px;
}

.StartShoppingButton {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 169px;
    height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 12px;
    background-color: #E60012;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    text-wrap: nowrap;
    color: white;
    overflow: visible;
}

/*
BELOW GAMING SYSTEMS STYLE
*/

.GamingSystems {
    padding-top: 48px;
    padding-bottom: 48px;
}

.GamingSystemsContent {
    max-width: 95%;
    margin: auto;
    width: 1144px;
    display: flex;
    flex-direction: column;
}

.GamingSystemsPicture {
    width: 100%;
}

#GamingSystemsImg {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 36px;
    border-radius: 8px;
}

.GamingSystemsDescription {
    display: flex;
    align-items: center;
}

.ExploreGamingSystemsButton {
    width: 169px;
    height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #E60012;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: white;
}

/* HOVERS, ANIMATIONS AND RESPONSIVE */

@keyframes ButtonHover {
    0%   {transform:scale(1.0)}
    25%  {transform:scale(1.09)}
    50%  {transform:scale(1.05)}
    100% {transform:scale(1.09)}
}

.StartShoppingButton:hover, .ExploreGamingSystemsButton:hover {
    animation: ButtonHover 0.4s linear;
    animation-fill-mode: forwards;
    background-color: #c20010;
}
.GamingSystems {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1025px) {
    .NintendoStoreResponsiveImage, #GamingSystemsImg {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .OnlineStoreDescription, .GamingSystemsDescription {
        flex-direction: column;
        align-items: flex-start;
    }

    .StartShoppingButton, .ExploreGamingSystemsButton {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .OnlineStoreDescriptionText, .GamingSystemsDescriptionText {
        
        font-size: 18px;
        font-weight: bolder;
    }

    .MyNintendoStoreImageMobile {
        display: block;
    }

    .MyNintendoStoreImage {
        display: none;
    }
}