@font-face {
    font-family: "Nintendo";
    src: url(Fonts/MuseoSans_700.ttf);
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-family: "Nintendo";
    font-size: larger;
    color: rgb(72, 72, 72);
    line-height: 1.4;
}

.OnlineStore {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.NintendoStore {
    width: 1144px;
    max-width: 95%;
}

.SectionHeader {
    margin: 0;
    width: fit-content;
}

.NintendoStoreResponsiveImage {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin-top: 36px;
    margin-bottom: 36px;
    border-radius: 8px;
}

.MyNintendoStoreImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.OnlineStoreDescription {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OnlineStoreDescriptionText {
    max-width: 940px;
    margin-right: 36px;
    font-size: 21px;
    font-weight: 700;
    line-height: 29.4px;
}

.StartShoppingButton {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 169px;
    height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 12px;
    background-color: #E60012;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    text-wrap: nowrap;
    color: white;
    overflow: visible;
}

.StartShoppingButton:hover {
    animation-name: ButtonHover;
    animation-duration: 0.3s;
}

@keyframes ButtonHover {
    0% {
        transform: scale(1);
    }
      50% {
        transform: scale(1.05);
    }
      100% {
        transform: scale(1.03);
    } 
}

.GamingSystems {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 720px) {
    
}