@import url(tipografia.css);
:root{
    --radio-borde:0.75rem;
    --radio-borde-pequeño:0.5rem;
    --color-rojo:rgb(230, 0, 18);
    --color-rojo-oscuro:#ac000d;
    --color-gris-claro:rgb(132, 132, 132);
    --color-letra: rgb(72, 72, 72) ;
}
body{
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    width: 100%;
    line-height: 1.4;
    color: rgb(72, 72, 72);
    -webkit-font-smoothing: antialiased;
}

.digitalHeader{
    width: 100vw;
    display: flex;
    padding-top: 48px;
    flex-direction: row;
}
.dbs{
    font-weight: 700;
    line-height: 1.35;
    font-size: 1.75rem;
    padding: 0px;
    padding-right:16px;
    border-right: 1px solid var(--color-gris-claro);
}
.seefullList{
    text-decoration: none;
    color: var(--color-rojo);
    align-self: center;
    margin-left: 16px;
    font-weight: bolder;
    border-bottom: 2px solid var(--color-rojo);
    transition: 0.3s;
}
.seefullList:hover{
    color: var(--color-rojo-oscuro);
    border-bottom: 2px solid var(--color-rojo-oscuro);
}
.digitalHeader , .contenedorDigital, .footerDigitalJuegos{
    width: 96%;
    overflow: hidden;
    max-width: 71.5rem;
    margin-left: auto;
    margin-right: auto;
}
.contenedorDigital{
    margin-bottom: 2rem;
}
.digitalNewReleases{
    width: 120%;
    margin-bottom: 32px;
    display: flex;
    overflow: hidden;
    
}
.juegoDigital{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    min-width: 208px;
    max-width: 268px;
    margin: 1.5rem 1rem;
    width: calc((100% - 1rem) / 3.5);
    border-radius:var(--radio-borde);
    border-bottom: 1px solid lightgray ;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;

}
.juegoImagen{
    width: 100%;
    border-top-right-radius: var(--radio-borde);
    border-top-left-radius:var(--radio-borde) ;
    transition: transform 0.3s;
}
.juegoDigital:hover .juegoImagen{
    transform: translateY(-1rem);
}
.tituloJuegoDigital{
    font-weight: 700;
    margin: 0;
    font-size: 0.875rem;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    transition: 0.3s;
}
.juegoDigital:hover .tituloJuegoDigital{
    color: var(--color-rojo);
}

.fechaJuegoDigital{
    padding-top: 16px;
    height: 2rem;
    color:var(--color-gris-claro) ;
    padding-left: 16px;
    font-size: 0.75rem;
    margin: 0;
    margin-top: 0.25rem;
    
}
.precioJuegoDigital{
    padding-left: 16px;
    font-weight: bolder;
}

.finalJuegoDigital{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.plataformaJuegoDigital{
    margin-left: 16px;
    padding-left: 1ch;
    border-left: 2px solid var(--color-rojo);
}
.svgCorazonDigital{
    width: 3em;
    height: 3em;
    color: var(--color-rojo);
    padding-right: 16px;
}
.botonDerecho{
    position: relative;
    height: 100%;
    cursor: pointer;
    padding: 16px;
    border: 0;
    right: 110px;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(218, 218, 218);
    border-radius:var(--radio-borde-pequeño) ;
    transition: transform 0.3s;
}
.botonDerecho:hover{
    background: rgba(0, 0, 0, 0.6);
}
.botonDerecho:hover svg{
    color: white;
    transform: scale(1.15);
}
.etiquetaJuego{
    font-weight: 700;
    background-color:rgb(149, 49, 185) ;
    color: white;
    margin-left: 16px;
    border-radius: var(--radio-borde);
    font-size: 0.75rem;
    padding: 3px;
}

.sparks{
    opacity: 0;
    transition-timing-function: ease;
}

.heart-filled{
    opacity: 0;
}

.svgCorazonDigital:hover .sparks{
    animation: sparksAnimation 1s;
    color: var(--color-rojo-oscuro);
    
    
}
.svgCorazonDigital:hover .heart-outline{
    color: var(--color-rojo-oscuro);
}
@keyframes sparksAnimation {
    from{
        opacity: 0;
    }
    75%{
        opacity: 1;
        stroke-dasharray: 8;
        stroke-dashoffset: 24;  
    }
    to{
        opacity: 1;
        
    }
}
.footerDigitalJuegos{
    margin-bottom: 64px;
}

.textoFooterDigitalJuegos{
    font-size: 0.75rem;
    color: var(--color-gris-claro);
    font-weight: 300;
}
.enlaceEnFooterDigitalJuegos{
    text-decoration: none;
    color: var(--color-rojo);
    font-weight: 700;
    border-bottom: 2px solid var(--color-rojo);
    transition:0.3s;
    
}
.enlaceEnFooterDigitalJuegos:hover{
    color: var(--color-rojo-oscuro);
    border-bottom: 2px solid var(--color-rojo-oscuro);
}



@media(min-width:1025px){
    :root{
        --radio-borde:1rem;
    }
}
@media(max-width:1025px){
    .juegoDigital{
        width: calc((100% - 1rem) / 2.5);
    }
}
@media(max-width:1210px){
    .botonDerecho{
        position: absolute;
        height: 420px;
        right: 12px;
    }
}
@media(max-width:768px){
    .digitalHeader{
        padding-top: 2rem;
        padding-bottom: 2rem;
        scroll-margin-top: 120px;
    }
    .digitalHeader , .contenedorDigital, .footerDigitalJuegos{
        max-width: 71.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .juegoDigital{
        width: calc((100% - 1rem) / 1.5);
    }
    
}
@media(max-width:854px){
    .botonDerecho{
        position: absolute;
        height: 420px;
        right: 5px;
    }
}
@media(max-width:429px){
    .botonDerecho{
        position: absolute;
        height: 420px;
        right: 0px;
    }
    .digitalHeader{
        display: block;
    }
    .dbs{
        margin-left: 16px;
        font-size: 1.3125rem;
    }
}
@media (min-width:429px){
   .tituloJuegoDigital{
        font-size: 1rem;
        margin: 0px;
        text-align: initial;
        padding-right: 1rem;
   }
   

}
@supports (aspect-ratio:16/9){

}
