@import url(tipografia.css);
:root{
    --radio-borde:0.75rem;
    --radio-borde-pequeño:0.5rem;
    --color-rojo:rgb(230, 0, 18);
    --color-rojo-oscuro:#ac000d;
    --color-gris-claro:rgb(114, 114, 114);
    --color-letra: rgb(72, 72, 72) ;
}
body{
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    width: 100%;
    line-height: 1.4;
    color: rgb(72, 72, 72);
    -webkit-font-smoothing: antialiased;
}
.contenedorEtiqueta{
    padding-left: 1rem;
    margin-bottom: 8px;
}
.contenedorFeatured{
    width: 99%;
    overflow: hidden;
}
.plataformaJuegoDigital{
    margin-left: 16px;
    padding-left: 1ch;
    color: var(--color-gris-claro);
    font-size: 0.625rem;
    font-weight: 300;
    border-left: 2px solid var(--color-rojo);
    margin-top: 0px;
}
.juegoImagen{
    width: 100%;
    border-top: 1px solid lightgray;
    
    border-top-right-radius: var(--radio-borde);
    border-top-left-radius:var(--radio-borde) ;
    transition: transform 0.3s;
}
.cartaProducto:hover .juegoImagen{
    transform: translateY(-1rem);
}
.contenedorProducto{
    display: flex;
    flex-direction: row;
    width: 130%;
}

.cartaProducto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    max-width: 16.375rem;
    min-width: 208px;
    margin: 1.5rem 1rem;
    border-radius:var(--radio-borde);
    border-bottom: 1px solid lightgray ;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    transition: all 0.3s;

}
.dbs{
    font-weight: 700;
    line-height: 1.35;
    font-size: 1.75rem;
}
.cartaProducto:hover .tituloFeatured{
    color: var(--color-rojo);
}
.tituloFeatured{
    font-weight: 700;
    margin: 0;
    font-size: 0.875rem;
    padding-top: 16px;
    padding-left: 1rem;
    padding-right: 16px;
    transition: 0.3s;
    padding-bottom: 1rem;
}
#NewsAndEvents{
    border: none;
}
#hardware{
    border-left: 2px solid var(--color-gris-claro);
}
.EtiquetaEstado{
    background-color: var(--color-rojo);
    color: white;
    border-radius:var(--radio-borde) ;
    padding: 3px;
    font-weight: 700;
    font-size: 0.75rem;
}
#LearnMore{
   background-color: rgb(75, 92, 206); 
}

#freeDownloadMorado{
    background-color: rgb(149, 49, 185);;
}

@media (min-width:429px){
    .cartaProducto{
        width: calc((100% - 1rem) / 1.5);
    }
    .tituloFeatured{
         font-size: 1rem;
         margin: 0px;
         text-align: initial;
         padding-right: 1rem;
    }
    .plataformaJuegoDigital{
        font-size: 0.875rem;
    }
    .dbs{
        margin-left: 16px;
        font-size: 1.3125rem;
    }
}